body {
    background-color: #86A8E7;
    font: 20px "Century Gothic", Futura, sans-serif;
    color: #324950;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  li {
    padding-left: 15px;
    margin-top: 10px;
  }

 .button{
   border-radius:20px;
   font: 15px "Century Gothic", Futura, sans-serif;
   color:  #4b6b75;
   background: #ADC5CF;
  }

  .board-row {
    border: 1rem solid #4B6B75;
    background: #4B6B75;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
    gap: 1rem; 
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #ADC5CF;
    border: 3px solid #4b6b75;
    float: left;
    font-size: 75px;
    font-weight: bold;
    color: #FEFEDF;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 10px;
  }
  